---
title: net.flashpunk
layout: default
---

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {% assign classes = site.posts | sort: "title" %}
    {% for class in classes %}
    {% assign package = class.categories | join: '.' %}
    {% if package == page.title %}
    <tr>
      <td><a href="{{ site.baseurl }}{{ class.url }}">{{ class.title }}</a></td>
      <td>{{ package }}</td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
